/* Importa a fonte Roboto Mono do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Define estilos básicos para o corpo da página */
body {
  margin: 0%;
  padding: 0%;
  font-family: "roboto mono", sans-serif;
  background-color: #ffffff;
  text-align: center;
}

/* Define o estilo do elemento container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d5d3d3;
    border-radius: 8px;
    box-shadow: 0px 10px 50px -12px rgb(46, 46, 46);
    text-align: center;
}

/* Define o estilo do elemento icon-container */
.icon-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Estilo para tornar a imagem responsiva */
.img img {
    max-width: 100%;
    height: auto;
}
  
/* Estilo para centralizar o texto e a imagem */
.img {
    text-align: center;
}
  
/* Estilo para o conteúdo */
.conteudo {
    text-align: center;
}
  
/* Media queries para responsividade */
@media (max-width: 768px) {
    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
  
    .img img {
        max-width: 80%;
    }
  
    .icon-container {
        text-align: center;
    }
  
    .bi-x {
        font-size: 1.5rem;
    }
}